---
import Layout from "../layouts/Layout.astro";
---

<Layout title="DAOH3">
  <main
    class="relative bg-retroHasher bg-50% bg-fixed bg-[right_top_8rem] bg-no-repeat lg:bg-33%"
  >
    <header
      class="flex-start fixed flex w-full items-center justify-between bg-gradient-to-b from-extraDark to-transparent px-3"
    >
      <img class="h-20 w-36" src="/assets/logo.svg" alt="DAOH3" />

      <div class="flex items-center justify-end bg-opacity-50">
        <p class="font-semi-bold hidden text-2xl text-white md:visible">
          Interested?
        </p>
        <button
          class="2 rounded-xl border border-purple-500 py-2 px-1 font-semibold text-purple-500 transition duration-500 ease-in-out hover:bg-purple-500 hover:text-white"
          onclick="location.href='http://she.energy/join'"
          type="button">Join the Discord</button
        >
      </div>
    </header>
    <p class="text-white">
      Working together with Hash House Harriers to imbue proper treasury
      management technology<br />
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://astro.build/integrations/"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
      />
      <Card
        href="https://astro.build/themes/"
        title="Themes"
        body="Explore a galaxy of community-built starter themes."
      />
      <Card
        href="https://astro.build/chat/"
        title="Community"
        body="Come say hi to our amazing Discord community. ❤️"
      />
    </ul>
  </main>
</Layout>

<style>
  .body {
    background-color: #1d1d1d;
  }
</style>
